.clearfix {
    clear: both;
}

#images .panel {
    padding: 5px;
}

#images .panel .panel-footer {
    margin: 10px -5px 0;
}

#images .panel .panel-body img {
    width: 100%;
    height: 100px;
    display: block;
    margin: auto;
}

@media screen and (max-width:967px) {
    #images .panel .panel-body img {
        height: auto;
    }
}

.btn {
    border: 2px solid transparent;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn-thema {
    background: none;
    border: 2px solid #3ab8bf;
    color: #3ab8bf;
}

.btn-thema:hover {
    background: #3ab8bf;
    color: #FFF;
}

.btn-default {
    color: #525252;
    background-color: #ffffff;
    border: 2px solid #525252;
}

.btn-default:hover {
    background: #3ab8bf;
    color: #FFF;
    border: 2px solid #3ab8bf;
}

.btn-danger {
    background: none;
    border: 2px solid #ef4836;
    color: #ef4836;
}

.btn-danger:hover {
    background: #ef4836;
    color: #FFF;
    border: 2px solid #ef4836;
}

.btn.btn-xs {
    padding: 5px 12px;
    font-size: 11px;
}

table .btn.btn-xs {
    margin-bottom: 5px !important;
}

.btn.btn-xs i {
    font-size: 13px;
}

.checkbox2 input {
    height: auto;
    box-shadow: none;
    margin: 10px 0 0 0;
    top: 2px;
    position: relative;
}

.gallery-box {
    width: 100%;
    display: block;
}

.gallery-box ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
}

.gallery-box ul li {
    display: inline-block;
    position: relative;
    margin: 5px 5px;
    padding: 0 10px;
}

.gallery-box ul li picture {
    position: relative;
}

.gallery-box ul li picture img {
    border-radius: 100%;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: block;
    border: 4px solid #f4f5f9;
    transition: 0.3s all ease;
}

.gallery-box.capa ul li picture img {
    width: 140px;
    height: 140px;
}

.gallery-box ul li:hover picture img {
    box-shadow: 0 0 15px #0000002b;
}

.gallery-box ul li .btn-group {
    position: absolute;
    top: 0;
    left: 0;
}

.gallery-box ul li .btn-group button {
    border-radius: 100%;
}

.gallery-box ul li picture #add-photos-to-establishment {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    font-size: 30px;
}

.gallery-box ul li picture #add-photos-to-establishment span {
    display: block;
    font-size: 10px;
}


/* Widget - Summary */

.bg-secondary {
    background: #E36159;
    color: #FFF;
}

.bg-tertiary {
    background: #2BAAB1;
    color: #FFF;
}

.bg-quartenary {
    background: #734BA9;
    color: #FFF;
}

.bg-success {
    background: #47a447;
    color: #FFF;
}

.bg-warning {
    background: #ed9c28;
    color: #FFF;
}

.bg-danger {
    background: #d2322d;
    color: #FFF;
}

.bg-info {
    background: #5bc0de;
    color: #FFF;
}

.bg-dark {
    background: #171717;
    color: #FFF;
}

.widget-summary {
    display: table;
    width: 100%;
}

.widget-summary:after {
    content: "";
    display: table;
    clear: both;
}

.widget-summary .widget-summary-col {
    display: table-cell;
    vertical-align: top;
    width: 100%;
}

.widget-summary .widget-summary-col.widget-summary-col-icon {
    width: 1%;
}

.widget-summary .summary-icon {
    margin-right: 15px;
    font-size: 4.2rem;
    width: 90px;
    height: 90px;
    line-height: 90px;
    text-align: center;
    color: #fff;
    -webkit-border-radius: 55px;
    border-radius: 55px;
}

.widget-summary .summary {
    min-height: 65px;
    word-break: break-all;
}

.widget-summary .summary .title {
    margin: 0;
    font-size: 1.6rem;
    line-height: 2.2rem;
    color: #333;
    font-weight: 500;
}

.widget-summary .summary .info {
    font-size: 1.4rem;
    line-height: 3rem;
}

.widget-summary .summary .info span {
    vertical-align: middle;
}

.widget-summary .summary .amount {
    margin-right: .2em;
    font-size: 2.4rem;
    font-weight: 600;
    color: #333;
    vertical-align: middle;
}

.widget-summary .summary-footer {
    padding: 5px 0 0;
    border-top: 1px dotted #ddd;
    text-align: right;
}

.bg-primary .widget-summary .summary-icon {
    background-color: rgba(0, 0, 0, 0.1);
}

.bg-primary .widget-summary .summary .title,
.bg-primary .widget-summary .summary .amount {
    color: #FFF;
}

.bg-primary .widget-summary .summary-footer {
    border-top: 1px solid #fff;
    border-top-color: rgba(255, 255, 255, 0.2);
}

.bg-primary .widget-summary .summary-footer a {
    color: #FFF;
    opacity: 0.6;
}

.bg-secondary .widget-summary .summary-icon {
    background-color: rgba(0, 0, 0, 0.1);
}

.bg-secondary .widget-summary .summary .title,
.bg-secondary .widget-summary .summary .amount {
    color: #FFF;
}

.bg-secondary .widget-summary .summary-footer {
    border-top: 1px solid #fff;
    border-top-color: rgba(255, 255, 255, 0.2);
}

.bg-secondary .widget-summary .summary-footer a {
    color: #FFF;
    opacity: 0.6;
}

.bg-tertiary .widget-summary .summary-icon {
    background-color: rgba(0, 0, 0, 0.1);
}

.bg-tertiary .widget-summary .summary .title,
.bg-tertiary .widget-summary .summary .amount {
    color: #FFF;
}

.bg-tertiary .widget-summary .summary-footer {
    border-top: 1px solid #fff;
    border-top-color: rgba(255, 255, 255, 0.2);
}

.bg-tertiary .widget-summary .summary-footer a {
    color: #FFF;
    opacity: 0.6;
}

.bg-quartenary .widget-summary .summary-icon {
    background-color: rgba(0, 0, 0, 0.1);
}

.bg-quartenary .widget-summary .summary .title,
.bg-quartenary .widget-summary .summary .amount {
    color: #FFF;
}

.bg-quartenary .widget-summary .summary-footer {
    border-top: 1px solid #fff;
    border-top-color: rgba(255, 255, 255, 0.2);
}

.bg-quartenary .widget-summary .summary-footer a {
    color: #FFF;
    opacity: 0.6;
}

.bg-success .widget-summary .summary-icon {
    background-color: rgba(0, 0, 0, 0.1);
}

.bg-success .widget-summary .summary .title,
.bg-success .widget-summary .summary .amount {
    color: #FFF;
}

.bg-success .widget-summary .summary-footer {
    border-top: 1px solid #fff;
    border-top-color: rgba(255, 255, 255, 0.2);
}

.bg-success .widget-summary .summary-footer a {
    color: #FFF;
    opacity: 0.6;
}

.bg-warning .widget-summary .summary-icon {
    background-color: rgba(0, 0, 0, 0.1);
}

.bg-warning .widget-summary .summary .title,
.bg-warning .widget-summary .summary .amount {
    color: #FFF;
}

.bg-warning .widget-summary .summary-footer {
    border-top: 1px solid #fff;
    border-top-color: rgba(255, 255, 255, 0.2);
}

.bg-warning .widget-summary .summary-footer a {
    color: #FFF;
    opacity: 0.6;
}

.bg-danger .widget-summary .summary-icon {
    background-color: rgba(0, 0, 0, 0.1);
}

.bg-danger .widget-summary .summary .title,
.bg-danger .widget-summary .summary .amount {
    color: #FFF;
}

.bg-danger .widget-summary .summary-footer {
    border-top: 1px solid #fff;
    border-top-color: rgba(255, 255, 255, 0.2);
}

.bg-danger .widget-summary .summary-footer a {
    color: #FFF;
    opacity: 0.6;
}

.bg-info .widget-summary .summary-icon {
    background-color: rgba(0, 0, 0, 0.1);
}

.bg-info .widget-summary .summary .title,
.bg-info .widget-summary .summary .amount {
    color: #FFF;
}

.bg-info .widget-summary .summary-footer {
    border-top: 1px solid #fff;
    border-top-color: rgba(255, 255, 255, 0.2);
}

.bg-info .widget-summary .summary-footer a {
    color: #FFF;
    opacity: 0.6;
}

.bg-dark .widget-summary .summary-icon {
    background-color: rgba(0, 0, 0, 0.1);
}

.bg-dark .widget-summary .summary .title,
.bg-dark .widget-summary .summary .amount {
    color: #FFF;
}

.bg-dark .widget-summary .summary-footer {
    border-top: 1px solid #fff;
    border-top-color: rgba(255, 255, 255, 0.2);
}

.bg-dark .widget-summary .summary-footer a {
    color: #FFF;
    opacity: 0.6;
}

@media only screen and (min-width: 480px) {
    .widget-summary.widget-summary-xlg {
        padding: 5px 0;
    }
    .widget-summary.widget-summary-xlg .summary-icon {
        width: 110px;
        height: 110px;
        line-height: 110px;
        font-size: 4.8rem;
    }
    .widget-summary.widget-summary-xlg .summary {
        min-height: 80px;
    }
    .widget-summary.widget-summary-xlg .summary .title {
        font-size: 2rem;
        line-height: 2.8rem;
    }
    .widget-summary.widget-summary-xlg .summary .info {
        font-size: 1.6rem;
        line-height: 3rem;
    }
    .widget-summary.widget-summary-xlg .summary .amount {
        font-size: 2.8rem;
    }
}

.widget-summary.widget-summary-lg {
    padding: 0;
}

.widget-summary.widget-summary-lg .summary-icon {
    width: 90px;
    height: 90px;
    line-height: 90px;
    font-size: 4.2rem;
}

.widget-summary.widget-summary-lg .summary {
    min-height: 65px;
}

.widget-summary.widget-summary-lg .summary .title {
    font-size: 1.6rem;
    line-height: 2.2rem;
}

.widget-summary.widget-summary-lg .summary .info {
    font-size: 1.4rem;
    line-height: 3rem;
}

.widget-summary.widget-summary-lg .summary .amount {
    font-size: 2.4rem;
}

.widget-summary.widget-summary-md {
    padding: 0;
}

.widget-summary.widget-summary-md .summary-icon {
    width: 70px;
    height: 70px;
    line-height: 70px;
    font-size: 3.2rem;
}

.widget-summary.widget-summary-md .summary {
    min-height: 0;
    margin-top: 12px;
}

.widget-summary.widget-summary-md .summary .title {
    font-size: 1.2rem;
    line-height: 1.8rem;
}

.widget-summary.widget-summary-md .summary .info {
    font-size: 1.1rem;
    line-height: 2.2rem;
}

.widget-summary.widget-summary-md .summary .amount {
    font-size: 1.8rem;
    font-weight: 700;
}

.widget-summary.widget-summary-md .summary-footer {
    display: none;
}

.widget-summary.widget-summary-sm {
    padding: 0;
}

.widget-summary.widget-summary-sm .summary-icon {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 2.2rem;
}

.widget-summary.widget-summary-sm .summary {
    min-height: 0;
    margin-top: 4px;
}

.widget-summary.widget-summary-sm .summary .title {
    font-size: 1.2rem;
    line-height: 1.8rem;
}

.widget-summary.widget-summary-sm .summary .info {
    font-size: 1.1rem;
    line-height: 1.8rem;
}

.widget-summary.widget-summary-sm .summary .amount {
    font-size: 1.6rem;
    font-weight: 700;
}

.widget-summary.widget-summary-sm .summary-footer {
    display: none;
}

.widget-summary.widget-summary-xs {
    padding: 0;
}

.widget-summary.widget-summary-xs .summary-icon {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 1.8rem;
}

.widget-summary.widget-summary-xs .summary {
    min-height: 0;
}

.widget-summary.widget-summary-xs .summary .title {
    font-size: 1.2rem;
    line-height: 40px;
}

.widget-summary.widget-summary-xs .summary .info {
    display: none;
}

.widget-summary.widget-summary-xs .summary-footer {
    display: none;
}