<template>
    <div class="panel panel-default">

        <div class="panel-title">
            Reservas Cadastradas
            <div class="btn-group btn-group-sm pull-right">
                <button class="btn btn-success" @click="ready">
                    <i class="fa fa-refresh"></i> Atualizar
                </button>
            </div>
        </div>
        <!--table-responsive-->
        <div class="panel-body" id="reservations">
            <table class="table table-striped" id="reservations-table">
                <thead>
                    <tr>
                        <th>
                            <a href="#" @click.prevent="setOrderBy('id')">
                                #
                                <span class="fa fa-sort" :class="{
                                    'fa-sort-down': orderBy.key === 'id' && orderBy.type,
                                    'fa-sort-up': orderBy.key === 'id' && !orderBy.type}">
                                </span>
                            </a>
                        </th>
                        <th>
                            <a href="#" @click.prevent="setOrderBy('preRegistration.name')">
                                Nome/E-mail
                                <span class="fa fa-sort" :class="{
                                    'fa-sort-down': orderBy.key === 'preRegistration.name' && orderBy.type,
                                    'fa-sort-up': orderBy.key === 'preRegistration.name' && !orderBy.type}">
                                </span>
                            </a>
                            <a href="#"></a>
                        </th>
                        <th>
                            <a href="#" @click.prevent="setOrderBy('fazenda')">
                                Proprietário/Fazenda
                                <span class="fa fa-sort" :class="{
                                    'fa-sort-down': orderBy.key === 'fazenda' && orderBy.type,
                                    'fa-sort-up': orderBy.key === 'fazenda' && !orderBy.type}">
                                </span>
                            </a>
                        </th>
                        <th>
                            <a href="#" @click.prevent="setOrderBy('bioma')">
                                Bioma/Situação
                                <span class="fa fa-sort" :class="{
                                    'fa-sort-down': orderBy.key === 'bioma' && orderBy.type,
                                    'fa-sort-up': orderBy.key === 'bioma' && !orderBy.type}">
                                </span>
                            </a>
                        </th>
                        <th>
                            <a href="#" @click.prevent="setOrderBy('ativo')">
                                Status
                                <span class="fa fa-sort" :class="{
                                    'fa-sort-down': orderBy.key === 'ativo' && orderBy.type,
                                    'fa-sort-up': orderBy.key === 'ativo' && !orderBy.type}">
                                </span>
                            </a>
                        </th>
                        <th>
                            <a href="#" @click.prevent="setOrderBy('created_at')">
                                Cadastro
                                <span class="fa fa-sort" :class="{
                                    'fa-sort-down': orderBy.key === 'created_at' && orderBy.type,
                                    'fa-sort-up': orderBy.key === 'created_at' && !orderBy.type}">
                                </span>
                            </a>
                        </th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody v-for="(item,index) in listFiltered" :id="'item_' + item.id">
                    <!-- loop -->
                    <tr>
                        <td>
                            <div class="checkbox">
                                <input :id="'reservations_' + index" type="checkbox" v-model="selected" :value="index">
                                <label :for="'reservations_' + index">
                                    <b>{{ item.id }}</b>
                                </label>
                            </div>
                        </td>
                        <td>
                            {{ item.preRegistration.name }} <br> <a :href="'mailto:'+item.preRegistration.email">{{item.preRegistration.email}}</a>
                        </td>
                        <td>{{ item.propietario }} <br> {{ item.fazenda }}  </td>
                        <td>
                            {{ item.bioma }}
                            <span class="label" :class="{'label-success': item.situacao === 'regular', 'label-danger': item.situacao === 'irregular'}">
                                {{ item.situacao }}
                            </span>
                        </td>
                        <td>
                            <span class="label" :class="{'label-success': item.ativo, 'label-danger': !item.ativo}">
                                {{ item.ativo ? 'Publicado' : 'Não Publicou' }}
                            </span>
                        </td>
                        <td>{{ item.created_at }}</td>
                        <td class="text-right">
                            <div class="btn-group btn-group-sm">
                                <button class="btn btn-default btn-icon" @click="toggleMoreInfo(item.id)" data-toggle="tooltip" data-original-title="Mais Detalhes">
                                    <i class="fa" :class="{'fa-plus-square': !hasMoreInfo(item.id), 'fa-minus-square': hasMoreInfo(item.id)}"></i>
                                </button>
                                <a :href="'/dashboard/reservations/'+item.preRegistration.id+'/ficha'" class="btn btn-primary btn-icon" data-toggle="tooltip" data-original-title="Editar">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <button class="btn btn-danger btn-icon" @click="trash(item.id)" data-toggle="tooltip" data-original-title="Remover">
                                    <i class="fa fa-remove"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                    <tr style="display: none" class="more_info bg-info">
                        <td>
                            <span>Área / Tipo</span>
                            <span>{{ item.tamanho_area}} {{ item.area_tipo}}</span>
                        </td>
                        <td>
                            <span>Minicio Cartorio</span>
                            <span>{{ item.municipio_cartorio}}</span>
                        </td>
                        <td>
                            <span>Minicio / Estado</span>
                            <span>{{ item.municipio}} / {{ item.estado }}</span>
                        </td>
                        <td>
                            <span>Georeferência</span>
                            <span>{{ item.georeferencia }}</span>
                        </td>
                        <td>
                            <span>Inscrição</span>
                            <span>{{ item.inscricao_car }}</span>
                        </td>
                        <td>
                            <span>Matricula</span>
                            <span>{{ item.matricula }}</span>
                        </td>
                        <td>
                            <span>Atualização</span>
                            <span>{{ item.updated_at }}</span>
                        </td>
                    </tr>
                </tbody>
                <!-- loop -->
            </table>

            <div class="bg-info text-center" style="display: none; font-size: 1.2em; padding: .5em;" id="table-empty">
                Não existem registros para serem exibidos.
            </div>

        </div><!-- panel-body -->

        <div class="panel-footer">
            <div class="row">
                <div class="col-md-12">
                    <div class="btn-group btn-group-sm pull-right">
                        <button class="btn btn-success" disabled><i class="fa fa-plus"></i>Novo</button>
                        <a href="#" class="btn btn-danger"><i class="fa fa-remove"></i>Remover selecionados</a>
                    </div>
                </div><!-- col-md-6 -->
            </div>
        </div>
    </div><!-- panel-default -->
</template>

<script>
    export default {
        name: "ManageReservations",

        data() {
            return {
                list: [],
                selected: [],
                moreInfo: [],
                orderBy: {
                    key: 'name',
                    type: true
                }
            }
        },

        computed: {
            listFiltered() {
                return _.orderBy(this.list, this.orderBy.key, this.orderBy.type ? 'asc' : 'desc')
            }
        },

        methods: {
            /**
             * Ordenar registro
             *
             * @param key
             */
            setOrderBy(key) {
                this.orderBy = {
                    key,
                    type: !this.orderBy.type
                }
            },
            /**
             * Obtem posição do elemento
             *
             * @param id
             */
            getIndexMoreInfo(id) {
                return _.findIndex(this.moreInfo, item => item === id);
            },
            /**
             * Verificar se existe item na lista de mais informações
             *
             * @param id
             */
            hasMoreInfo(id) {
                return this.getIndexMoreInfo(id) > -1;
            },
            /**
             * Exibe ou oculta informações
             *
             * @param id
             */
            toggleMoreInfo(id) {
                let index = this.getIndexMoreInfo(id);
                let tr = $(document.querySelector(`tbody#item_${id}`).children[1]);
                if(!this.hasMoreInfo(id)) {
                    this.moreInfo.push(id)
                    tr.fadeIn({
                        duration: 500,
                        complete:() => {
                            this.updateHeightBox();
                        }
                    });
                }else {
                    tr.fadeOut({
                        duration: 500,
                        complete:() => {
                            this.updateHeightBox();
                        }
                    });
                    this.moreInfo.splice(index, 1)
                }
            },
            /**
             * Obtem registros
             *
             */
            ready() {
                this.list = [];
                let display = $('#table-empty');
                let table = $('#reservations-table');
                table.fadeOut();

                axios.get('/services/reservations?moreInfo')
                    .then(respose => {
                        let data = respose.data.data;
                        if(typeof data === 'object' && data.length > 0) {
                            this.list = respose.data.data
                            display.fadeOut({
                                duration: 400,
                                start() {
                                    $(this).removeClass('animated zoomIn');
                                },
                                complete:() => {
                                    table.fadeTo(300, 1);
                                    this.updateHeightBox();
                                }
                            });
                        }
                    })
            },
            /**
             * Redimenssionar tabela de acordo com sua altura.
             *
             * @param height
             * @param remove
             */
            updateHeightBox(height = '', remove = false) {
                const list = document.querySelector('#reservations-table');
                const panel = $('#reservations');

                let size = height ? height : list.clientHeight;

                if(remove) {
                    size = list.clientHeight;
                }
                panel.animate({height: size + 'px'}, 400)
            },

            trash(id) {
                let tbody = $('tbody#item_' + id);
                let table = $('#reservations-table');
                let display = $('#table-empty');
                let __self = this;
                tbody.fadeOut({
                    done() {
                        tbody.remove();
                        if(!document.querySelector('table#reservations-table tbody')) {
                            table.fadeOut({
                                complete() {
                                    display.fadeIn({
                                        start() {
                                            $(this).removeClass('animated zoomOut').addClass('animated zoomIn')
                                        }
                                    });
                                }
                            });
                        }
                        // atualizar
                        __self.updateHeightBox();
                    }
                });
            }
        },

        mounted() {
            // carregar registros
            this.ready();
        },

        updated() {
            this.updateHeightBox();
        }
    }
</script>

<style lang="scss" scoped>
    /*.more_info { background-color: darkslategrey; }*/
    .more_info > td > span {
        display: block;
        padding: .3em;
        text-align: center;
        /*color: white;*/
        /*background-color: white;*/
    }
</style>