/* ----------------------------------------------------------------
Custom CSS

Add all your Custom Styled CSS here for New Styles or
Overwriting Default Theme Styles for Better Hanlding Updates
-----------------------------------------------------------------*/

body {
    background: #f4f5f9;
}

.boxed {
    background: #f4f5f9;
}

.page-section {
    padding: 50px 0;
}

header {
    padding: 0 0 20px;
}

#header {
    background: none;
}

a.box-whatsapp {
    position: fixed;
    bottom: 30px;
    right: 90px;
    z-index: 999;
    background: #3adb76;
    padding: 10px;
    border-radius: 3px;
    color: #FFF;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
}

a.box-whatsapp img {
    width: 21px;
    color: #FFF !important;
}

@media (max-width: 767px) {
    a.box-whatsapp {
        padding: 6px 10px;
        font-size: 18px;
        bottom: 10px;
        right: 10px;
    }
    a.box-whatsapp span {
        display: none;
    }
}

#logo {
    position: relative;
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
}

#logo img {
    max-width: 220px;
    padding: 15px;
    margin-left: 50px;
}

@media (max-width: 767px) {
    #logo {
        text-align: left;
    }
}

.menu-top {
    width: 100%;
    background: #ececec;
    border-bottom: 1px solid #FFF;
}

.menu-top ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;
}

.menu-top ul li {
    display: inline-block;
}

.menu-top ul li a {
    padding: 10px 15px;
    display: block;
    font-size: 13px;
    color: #333;
}

.menu-top ul li a:hover {
    color: #3ab8bf;
}

.panel.panel-thema {
    background: none;
    border: 2px solid #3ab8bf;
    text-align: center;
    min-height: 250px;
    position: relative;
}

.panel.panel-thema:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    /* background: #3ab8bf33; */
    display: block;
    z-index: 2;
    width: 100%;
    height: 100%;
}

.panel.panel-thema .panel-body {
    position: relative;
    z-index: 3;
}

.panel.panel-thema h1 {
    color: #3ab8bf;
    font-size: 46px;
    margin: 50px 0 0 0;
}

.panel.panel-thema p {
    font-size: 16px;
    font-weight: 400;
    color: #737373;
    margin-bottom: 30px;
}

.panel.panel-thema h4 {
    font-size: 34px;
    color: #3ab8bf;
}

.panel.panel-white {
    background: #FFF;
    border: 2px solid #26a4ab;
}


/* Label Class */

.label {
    font-size: 11px;
    padding: 3px 6px;
    font-weight: 600;
    border-radius: 4px;
}

.label-default {
    background: #373f45;
}

.label-primary {
    background: #33577b;
}

.label-success {
    background: #26a65b;
}

.label-info {
    background: #51b7a3;
}

.label-warning {
    background: #f39c12;
}

.label-danger {
    background: #ef4836;
}


/* Input options */

.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline,
.has-success.radio label,
.has-success.checkbox label,
.has-success.radio-inline label,
.has-success.checkbox-inline label {
    color: #26a65b;
}

.has-success .form-control {
    border-color: #26a65b;
    box-shadow: none;
}

.has-success .form-control:focus {
    border-color: #26a65b;
    box-shadow: none;
}

.has-success .input-group-addon {
    color: #26a65b;
    background-color: #26a65b;
    border-color: #26a65b;
}

.has-success .form-control-feedback {
    color: #26a65b;
}

.has-warning .help-block,
.has-warning .control-label,
.has-warning .radio,
.has-warning .checkbox,
.has-warning .radio-inline,
.has-warning .checkbox-inline,
.has-warning.radio label,
.has-warning.checkbox label,
.has-warning.radio-inline label,
.has-warning.checkbox-inline label {
    color: #f39c12;
}

.has-warning .form-control {
    border-color: #f39c12;
    box-shadow: none;
}

.has-warning .form-control:focus {
    border-color: #f39c12;
    box-shadow: none;
}

.has-warning .input-group-addon {
    color: #f39c12;
    background-color: #f39c12;
    border-color: #f39c12;
}

.has-warning .form-control-feedback {
    color: #f39c12;
}

.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error.radio label,
.has-error.checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label {
    color: #ef4836;
}

.has-error .form-control {
    border-color: #ef4836;
    box-shadow: none;
}

.has-error .form-control:focus {
    border-color: #ef4836;
    box-shadow: none;
}

.has-error .input-group-addon {
    color: #ef4836;
    background-color: #ef4836;
    border-color: #ef4836;
}

.has-error .form-control-feedback {
    color: #ef4836;
}

.btn {
    border: 2px solid transparent;
}

.btn-thema {
    background: none;
    border: 2px solid #3ab8bf;
    color: #3ab8bf;
}

.btn-thema:hover {
    background: #3ab8bf;
    color: #FFF;
}

.btn-default {
    color: #525252;
    background-color: #ffffff;
    border: 2px solid #525252;
}

.btn-default:hover {
    background: #3ab8bf;
    color: #FFF;
    border: 2px solid #3ab8bf;
}

input,
select {
    height: 34px;
    border-radius: 3px;
    padding-left: 10px;
    font-size: 14px;
    background: #fff;
    border: 1px solid #BDC4C9;
    box-shadow: inset 0px 1px 0px #F1F0F1;
}

input[type="radio"],
input[type="checkbox"] {
    margin: 6px 2px 0;
    margin-top: 1px \9;
    line-height: normal;
    height: auto;
    box-shadow: none;
}

.form-horizontal .radio input[type="radio"],
.form-horizontal .checkbox input[type="checkbox"] {
    height: auto;
    border: 0 !important;
    box-shadow: none;
}


/* Form Control */

.form-control {
    height: 40px;
    border-radius: 3px;
    padding-left: 10px;
    font-size: 14px;
    display: block;
    box-shadow: none;
    background-color: #fcfcfc;
    font-weight: 500;
    border: 1px solid #e0e0e0;
}

.form-control:focus {
    background: #f7f7f7;
    border-color: #BDC4C9;
    box-shadow: none;
    border-top: 1px solid #B7B7B7;
}

.form-label {
    font-weight: 500;
}


/* Fieldset Form */

.fieldset-form fieldset {
    padding: 20px;
    margin: 0 2px;
    border-radius: 3px;
    border: 1px solid #ccc;
    padding-top: 10px;
}

.fieldset-form legend {
    width: auto;
    padding: 0px 10px;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: inherit;
    color: #333;
    border: 0;
    font-weight: 600;
    border-bottom: none;
}


/* Form Control Line */

.form-control-line {
    border-left: 0;
    border-top: 0;
    border-right: 0;
    padding-left: 0;
    border-radius: 0;
    box-shadow: none;
}

.form-control-line:focus {
    border-top: 0;
    background: none;
    border-color: #666;
}


/* Form Control Radius */

.form-control-radius {
    border-radius: 999px;
}


/* Form Group */

.form-group {
    margin-bottom: 20px;
}


/* Form Inline */

.form-inline label {
    margin-right: 5px;
}

.form-inline .checkbox-inline,
.form-inline .radio-inline {
    padding-left: 0;
    margin-right: 5px;
}

.form-inline .checkbox-inline label,
.form-inline .radio-inline label {
    padding-left: 5px;
}

.form-inline .form-group {
    padding-right: 10px;
}


/* Input Group Addon */

.input-group-addon {
    background: #f7f7f7;
    border-color: #BDC4C9;
    font-weight: 400;
    font-size: 12px;
    padding: 0 9px;
    border-right: 1px solid #DDD;
}


/* Input Control Sizing */

.input-sm {
    height: 30px;
    font-size: 12px;
    line-height: 1.5;
}

.input-lg {
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 3px;
}


/* breadcrumb */

.breadcrumb {
    background: none;
    padding: 0;
    font-weight: 600;
    text-align: center;
    margin: 0 0 20px;
}

.breadcrumb .active {
    font-weight: normal;
    color: #999;
}

#primary-menu.style-2 {
    float: right;
    padding: 10px 0 0 0;
    margin: 50px 0 0 0;
    width: auto;
    display: inline-block;
    position: relative;
    z-index: 22;
}

#primary-menu ul>li.divisor {
    margin: 0 15px;
}

#primary-menu ul li>a {
    display: block;
    line-height: 22px;
    padding: 10px 15px;
    border-radius: 5px;
    color: #525252;
    font-weight: 500;
    font-size: 13px;
    text-transform: none;
    font-family: 'Raleway', sans-serif;
    -webkit-transition: margin .4s ease, padding .4s ease;
    -o-transition: margin .4s ease, padding .4s ease;
    transition: margin .4s ease, padding .4s ease;
}

#primary-menu ul li:hover>a,
#primary-menu ul li.current>a,
#primary-menu ul li.account:hover>a {
    background: #3ab8bf;
    color: #FFF;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

#primary-menu ul li.currentAnunciar>a {
    background: #2bc766;
    color: #FFF;
}

#primary-menu ul li.currentAnunciar:hover>a {
    background: #1eb657;
    color: #FFF;
}

#primary-menu ul li.account>a {
    background: rgba(0, 0, 0, 0.1);
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.42);
}

.section.light {
    background: rgba(243, 243, 243, 0.5);
    margin: 0;
    padding: 80px 0 100px 0;
}

.text-primary {
    color: #3ab8bf !important;
}

.text-white {
    color: #FFF !important;
}

.section-primary {
    background: #3ab8bf !important;
    color: #fff;
}

.section-primary .feature-box h3 {
    color: #333;
}

.section-primary .feature-box p {
    color: #111;
}

.section-dark {
    background: #111 !important;
}

.bg-primary {
    background: #3ab8bf;
    padding: 3px 3px 3px 10px;
}

.bg-red {
    background: #a81b3c;
    padding: 3px 3px 3px 10px;
}

.bg-red h3 {
    color: #FFF;
}

.bg-blue {
    background-color: #337ab7;
    padding: 3px 3px 3px 10px;
}

.bg-blue h3 {
    color: #FFF;
}

.box-search {
    float: right;
    margin-top: 20px;
}

div#top-search {
    /* background: #FFF;
    box-shadow: 1px 2px 4px #0000001c;
    border: 2px solid #3ab8bf; */
    /* border: 1px solid #0000001c; */
    display: inline-block;
    margin: 0 auto;
    min-width: 550px;
    padding: 5px;
    border-radius: 100px;
    position: relative;
}

div#top-search .select2 {
    width: calc(100% - 70%) !important;
    float: left;
    text-align: left;
    border-right: 1px solid #f1f1f1;
}

div#top-search .select2-container--default .select2-selection--single {
    background: none;
    border: 0;
    border-radius: 0;
    padding: 6px;
    height: auto;
}

div#top-search form {
    margin: 0;
}

div#top-search input.form-control {
    width: 100%;
    float: left;
    border: 0;
    background: none;
    box-shadow: none;
    margin: 0;
    border-right: 1px solid #f1f1f1;
    font-size: 13px;
}

div#top-search input[name="distric"] {
    float: left;
    width: calc(100% - 66%);
}

div#top-search button {
    background: none;
    border: 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    float: right;
    margin: 0;
}

div#top-search button:hover {
    color: #3ab8bf;
}

@media screen and (max-width:1020px) {
    div#top-search {
        display: inline-block;
    }
}

div#top-search form input::-moz-placeholder,
div#top-search form input:-ms-input-placeholder,
div#top-search form input::-webkit-input-placeholder {
    color: #555;
    opacity: 0.8;
    font-weight: 600;
}

div#top-search .search-content {
    background: #FFF;
    box-shadow: 1px 2px 4px #0000001c;
    border: 2px solid #3ab8bf;
    border-radius: 40px;
}

div#top-search input[name="all"] {
    width: calc(100% - 50px) !important;
}

@media screen and (max-width:650px) {
    div#top-search .search-content {
        border-radius: 5px;
    }
    div#top-search {
        max-width: 100% !important;
        min-width: 100% !important;
        border-radius: 5px;
    }
    div#top-search .select2 {
        width: 100% !important;
        border-bottom: 1px solid #f1f1f1;
    }
}

.allEstablishments .col-md-4 {
    margin-bottom: 10px;
}

.allEstablishments .col-md-4 .ipost {
    border-right: 1px solid #DDD;
    padding-right: 10px;
    height: 300px;
}

@media screen and (max-width:991px) {
    .allEstablishments .col-md-4 .ipost {
        height: 410px;
    }
}

@media screen and (max-width:767px) {
    .allEstablishments .col-md-4 .ipost {
        height: auto;
        padding-bottom: 20px;
    }
}

.allEstablishments .col-md-4+.col-md-4+.col-md-4 .ipost {
    border: 0;
}

.allEstablishments .badgeCategory {
    position: absolute;
    top: 30px;
    right: 24px;
}

ul.listCalendars {
    width: 100%;
    float: left;
    list-style: none;
}

ul.listCalendars li {
    display: inline-block;
    width: 30%;
    margin: 0 3% 2% 0;
    border: 1px solid #DDD;
    border-radius: 3px;
}

ul.listCalendars li div.title {
    width: 100%;
    float: left;
    background: #FFF;
    text-align: center;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
}

ul.listCalendars li div.title h3 {
    font-size: 14px;
    margin: 0;
    padding: 5px 0;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}

ul.listCalendars li div.title h3 a {
    color: #111;
}

ul.listCalendars li div.description {
    width: 100%;
    float: left;
    position: relative;
}

ul.listCalendars li div.description div.date {
    float: left;
    width: 15%;
}

ul.listCalendars li div.description div.date span {
    width: 100%;
    float: left;
    background: #a81b3c;
    color: #FFF;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    line-height: 30px;
}

ul.listCalendars li div.description div.date div {
    width: 100%;
    float: left;
    background: #f1f1f1;
    color: #111;
    line-height: 40px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

ul.listCalendars li div.description div.locale {
    float: right;
    width: 84%;
}

ul.listCalendars li div.description div.locale h4 {
    font-size: 11px;
    margin: 0;
    padding: 4px 0;
    font-family: 'Open Sans', sans-serif;
}

ul.listCalendars li div.description div.locale ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    bottom: 0;
}

ul.listCalendars li div.description div.locale ul li {
    padding: 3px 5px;
    margin: 0;
    border: 0;
    width: auto;
    font-size: 12px;
}

ul.listCalendars li div.description div.locale ul li i.fa {
    font-size: 11px;
}

@media screen and (max-width:991px) {
    ul.listCalendars li {
        width: 45%;
    }
}

@media screen and (max-width:767px) {
    ul.listCalendars li {
        width: 99%;
    }
}

ul.infoCalendars {
    margin: 10px 0 20px 0;
    padding: 0;
    list-style: none;
    width: 100%;
}

ul.infoCalendars li {
    display: list-item;
    padding: 5px 0;
    font-size: 15px;
}

ul.infoCalendars li>i {
    width: 25px !important;
}

.badge {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem
}

.badge:empty {
    display: none
}

.btn .badge {
    position: relative;
    top: -1px
}

.badge-pill {
    padding-right: .6em;
    padding-left: .6em;
    border-radius: 10rem
}

.badge-primary {
    color: #fff;
    background-color: #007bff
}

.badge-primary[href]:hover,
.badge-primary[href]:focus {
    color: #fff;
    text-decoration: none;
    background-color: #0062cc
}

.badge-secondary {
    color: #fff;
    background-color: #6c757d
}

.badge-secondary[href]:hover,
.badge-secondary[href]:focus {
    color: #fff;
    text-decoration: none;
    background-color: #545b62
}

.badge-success {
    color: #fff;
    background-color: #28a745
}

.badge-success[href]:hover,
.badge-success[href]:focus {
    color: #fff;
    text-decoration: none;
    background-color: #1e7e34
}

.badge-info {
    color: #fff;
    background-color: #17a2b8
}

.badge-info[href]:hover,
.badge-info[href]:focus {
    color: #fff;
    text-decoration: none;
    background-color: #117a8b
}

.badge-warning {
    color: #212529;
    background-color: #ffc107
}

.badge-warning[href]:hover,
.badge-warning[href]:focus {
    color: #212529;
    text-decoration: none;
    background-color: #d39e00
}

.badge-danger {
    color: #fff;
    background-color: #dc3545
}

.badge-danger[href]:hover,
.badge-danger[href]:focus {
    color: #fff;
    text-decoration: none;
    background-color: #bd2130
}

.badge-light {
    color: #212529;
    background-color: #f8f9fa
}

.badge-light[href]:hover,
.badge-light[href]:focus {
    color: #212529;
    text-decoration: none;
    background-color: #dae0e5
}

.badge-dark {
    color: #fff;
    background-color: #343a40
}

.badge-dark[href]:hover,
.badge-dark[href]:focus {
    color: #fff;
    text-decoration: none;
    background-color: #1d2124
}

.badge-theme {
    color: #000;
    background-color: #3ab8bf
}

.badge-theme[href]:hover,
.badge-theme[href]:focus {
    color: #fff;
    text-decoration: none;
    background-color: #0062cc
}

.revo-slider-emphasis-text {
    font-size: 64px;
    font-weight: 700;
    letter-spacing: -1px;
    font-family: 'Poppins', sans-serif;
    padding: 15px 20px;
    border-top: 2px solid #FFF;
    border-bottom: 2px solid #FFF;
}

.revo-slider-desc-text {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    width: 650px;
    text-align: center;
    line-height: 1.5;
}

.revo-slider-caps-text {
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 3px;
    font-family: 'Poppins', sans-serif;
}

.tp-video-play-button {
    display: none !important;
}

.tp-caption {
    white-space: nowrap;
}

.boxNewslleter {
    position: relative;
    background: #FFF;
    float: left;
    width: 100%;
    padding: 10px 20px;
}

.boxNewslleter .boxs {
    margin: 0.5%;
}

.boxNewslleter .box_one {
    width: 24%;
    float: left;
}

.boxNewslleter .box_two {
    width: 24%;
    float: left;
}

.boxNewslleter .box_three {
    width: 49%;
    float: left;
}

@media screen and (max-width:991px) {
    .boxNewslleter .box_one {
        width: 99%;
    }
    .boxNewslleter .box_two {
        width: 99%;
    }
    .boxNewslleter .box_three {
        width: 99%;
    }
}

.sombra-div {
    width: 100%;
    height: 48px;
    float: left;
    background: url(/galerias/sombra-div.png) no-repeat center center;
    position: relative;
    bottom: 0;
    z-index: 9;
}

#footer .footer-widgets-wrap ul.footer-phones {
    width: 100%;
}

#footer .footer-widgets-wrap ul.footer-phones li {
    display: inline-block;
    padding: 0 5px;
}

#footer .footer-widgets-wrap ul.footer-phones li:first-child {
    padding: 0 5px 0 0;
}

#footer .footer-widgets-wrap .widget.widget_links ul li ul {
    display: none;
}

.hide-bullets {
    list-style: none;
    margin-left: -40px;
    margin-top: 20px;
}

.thumbnail {
    padding: 0;
}

.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
    width: 100%;
}

.paginateHome .pagination li.disabled span {
    background: #F2F2F2;
}

.paginateHome .pagination>li>a,
.paginateHome .pagination>li>span {
    position: relative;
    float: left;
    padding: 4px 9px;
    font-size: 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #337ab7;
    background-color: #ffffff;
    border: 1px solid #F2F2F2;
    margin-left: -1px;
}


/**** Novas Sectios ****/

#section-home-welcome #top-search {
    float: none;
    display: inline-block;
}

#section-home-categories {
    background: #FFF;
    box-shadow: 0 0 15px #e6e6e6;
}

#section-home-categories h1 {
    color: #3ab8bf;
    margin: 0px 0 0 0;
}

#section-home-categories .item-category picture {
    padding: 10px;
    border-radius: 100%;
}

#section-home-categories .item-category picture img {
    border-radius: 100%;
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

#section-home-categories .item-category h2 {
    font-size: 15px;
}

#section-home-categories .item-category:hover h2 {
    color: #3ab8bf;
}

#section-home-establishments h1 {
    color: #3ab8bf;
    margin: 50px 0 0 0;
}

#section-home-establishments h2 {
    font-size: 22px;
    color: #737373;
}

#section-home-establishments .testimonial {
    padding: 0;
    background: none;
    box-shadow: none;
    border: 0;
    margin-bottom: 75px;
}

#section-home-establishments .testimonial .testi-image,
#section-home-establishments .testimonial .testi-image a,
#section-home-establishments .testimonial .testi-image img,
#section-home-establishments .testimonial .testi-image i {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 10px;
    display: inline-block;
    text-align: center;
    transition: transform 0.3s;
    position: relative;
}

#section-home-establishments .testimonial .testi-image span.label-thema {
    position: absolute;
    bottom: -13px;
    left: -9px;
    background: #3ab8bf;
    font-size: 12px;
    padding: 6px 16px;
    z-index: 9;
}

#section-home-establishments .testimonial:hover .testi-image {
    transform: scale(1.1);
    z-index: 9;
}

#section-home-establishments .testimonial .testi-image img {
    max-width: 200px;
    min-height: 200px;
    padding: 0;
    box-shadow: 1px 2px 4px #0000001c;
    border: 6px solid #FFF;
}

#section-home-establishments .testimonial .testi-content {
    text-align: center;
    background: #FFF;
    box-shadow: 1px 2px 4px #0000001c;
    border: 1px solid #0000001c;
    min-height: 210px;
    padding: 10px;
}

#section-home-establishments .testimonial .testi-content h2 {
    font-size: 19px;
    color: #737373;
    margin: 10px 0 0;
}

#section-home-establishments .testimonial .testi-content h2:hover {
    color: #3ab8bf;
}

#section-home-establishments .testimonial .testi-content .badge {
    padding: 4px 10px;
    font-size: 12px;
}

.oc-item.item-category {
    min-height: 245px;
}


/**** Novas Sectios ****/

#section-home .testimonial {
    position: relative;
    float: left;
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

#section-home.page-search .testimonial {
    background: none;
    border: 0;
    box-shadow: none;
    padding: 0;
}

#section-home.page-search .testi-meta span {
    text-shadow: none;
}

#section-home.page-search .testi-image img {
    border: 1px solid #DDD;
}

#section-home.page-search .testi-image,
#section-home.page-search .testi-image a,
#section-home.page-search .testi-image img,
#section-home.page-search .testi-image i {
    box-shadow: none;
}

#section-home .testi-image {
    float: left;
    margin-right: 15px;
}

#section-home .testi-image,
#section-home .testi-image a,
#section-home .testi-image img,
#section-home .testi-image i {
    display: block;
    width: 100%;
    height: 200px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#section-home .testi-image i {
    text-align: center;
    background-color: #EEE;
    border-radius: 50%;
    line-height: 200px;
    font-size: 28px;
    color: #888;
    text-shadow: 1px 1px 1px #FFF;
}

#section-home .testi-image img {
    border-radius: 5px;
}

#section-home .testi-content {
    float: left;
}

#section-home .testi-meta {
    font-size: 14px;
}

#section-home .testi-meta span {
    display: block;
    font-weight: normal;
    font-size: 13px;
    text-transform: none;
    padding-left: 10px;
    color: #3ab8bf;
    text-shadow: 0 0 5px #000;
}

#section-calendar {
    padding: 100px 0;
}

#section-calendar .team .team-date {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
}

#section-calendar .team .team-date div,
#section-calendar .team .team-date span {
    float: left;
    width: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 13px;
    font-weight: bold;
}

#section-calendar .team .team-date div {
    background: #3ab8bf;
    color: #000;
    text-shadow: 0 0 1px #FFF;
}

#section-calendar .team .team-date span {
    background: #111;
    color: #FFF;
}

#section-calendar .team-title h4 a {
    color: #000;
}

#section-calendar .team-title h4 a:hover {
    color: #3ab8bf;
}

#section-calendar .team-title span {
    color: #333333;
    font-size: 13px;
}

#section-calendar .team-title:after {
    width: 50px;
    height: 1px;
    background: #ddd;
    content: '';
    float: none;
    margin: 10px auto;
    position: relative;
    display: block;
}

#section-calendar .team-image,
#section-calendar .team-image img {
    width: 100%;
    height: 150px;
    display: block;
}


/* SECTION - REDES SOCIAIS */

#section-redesociais {
    padding: 100px 0;
}


/* SECTION - BLOG */

#section-blog {
    padding: 100px 0;
}


/* Area Account */

.menuMyaccount {
    display: block;
}

.menuMyaccount p {
    margin: 0;
    font-size: 12px;
}

.menuMyaccount ul {
    margin: 0;
    padding: 0 0 0 10px;
    list-style: none;
}

.menuMyaccount ul li {
    display: list-item;
}

.menuMyaccount ul li a {
    padding: 6px 0;
    display: inline-block;
    color: #525252;
    transition: all 0.3s ease;
}

.menuMyaccount ul li.current a,
.menuMyaccount ul li a:hover {
    font-weight: bold;
    padding-left: 5px;
}

.panel-account h1 {
    font-size: 22px;
    font-weight: bold;
}

.panel-account .widget-account {
    display: inline-block;
    text-align: center;
    border: 1px solid #B7B7B7;
    padding: 10px 30px;
    margin: 0 10px 20px 0;
    border-radius: 5px;
    background: #f7f7f7;
    border-color: #BDC4C9;
    box-shadow: 0 2px 1px #0000000d;
}

.panel-account .widget-account .icon {
    width: 70px;
    height: 70px;
    line-height: 70px;
    font-size: 27px;
    color: #FFF;
    background: #3ab8bf;
    border-radius: 100%;
    display: inline-block;
    text-align: center;
}

.panel-account .widget-account .icon+a {
    display: block;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin: 10px 0 0 0;
}


/* Auxiliar */

.mb-2 {
    margin-bottom: 20px;
}

.control-label {
    text-align: left !important;
    font-size: 11px;
    margin: 0 0 5px;
}

#establishments-table .radio input[type="radio"],
#establishments-table .radio-inline input[type="radio"],
#establishments-table .checkbox input[type="checkbox"],
#establishments-table .checkbox-inline input[type="checkbox"] {
    margin: 4px 0 0 0 !important;
    height: auto;
    box-shadow: none;
}

.entry-image .badge.badge-thema {
    position: absolute;
    top: -5px;
    left: -5px;
    z-index: 22;
    padding: 10px 24px;
    font-size: 12px;
    background: #3ab8bf;
    box-shadow: 0 2px 5px #00000026;
    border-radius: 0;
}

.gallery-box {
    width: 100%;
    display: block;
}

.gallery-box ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
}

.gallery-box ul li {
    display: inline-block;
    position: relative;
    margin: 5px 5px;
    padding: 0 10px;
}

.gallery-box ul li picture {
    position: relative;
}

.gallery-box ul li picture img {
    border-radius: 100%;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: block;
    border: 4px solid #f4f5f9;
    transition: 0.3s all ease;
}

.gallery-box.capa ul li picture img {
    width: 140px;
    height: 140px;
}

.gallery-box ul li:hover picture img {
    box-shadow: 0 0 15px #0000002b;
}

.gallery-box ul li .btn-group {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 22;
}

.gallery-box ul li .btn-group button {
    border-radius: 100%;
}

.gallery-box ul li picture #add-photos-to-establishment {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    font-size: 30px;
}

.gallery-box ul li picture #add-photos-to-establishment span {
    display: block;
    font-size: 10px;
}

#slider .owl-carousel .owl-item img {
    height: 400px;
}

.entry-content * {
    width: 100% !important;
}

.box-description,
.box-promotion {
    font-size: 16px;
}

.box-description *,
.box-promotion * {
    text-indent: 0 !important;
    list-style: none;
}

#header-descrip {
    padding: 20px 0 0;
}

#header-descrip h1 {
    font-size: 33px;
    padding: 30px 0;
    line-height: 67px;
    font-weight: 500;
}

#header-descrip.sub-description h1 {
    font-size: 37px;
    line-height: 60px;
}

#header-descrip p {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.6px;
    line-height: 1.5;
}

@media (max-width: 767px) {
    #header-descrip h1 {
        font-size: 41px;
    }
    #header-descrip.sub-description h1 {
        font-size: 34px;
        line-height: 55px;
    }
    #section-home-direct .fbox-home.feature-box.fbox-bg {
        margin-bottom: 50px;
    }
}

ul.vantagens {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.vantagens li {
    display: list-item;
    font-size: 20px;
    padding: 10px 30px 30px;
    line-height: 25px;
}

ul.vantagens li span.icon {
    width: 15px;
    height: 15px;
    border: 2px solid #3ab8bf;
    display: inline-block;
    transition: 0.3s all ease;
}

ul.vantagens li:hover span.icon {
    background: #3ab8bf;
}

ul.vantagens li:hover {
    color: #000;
}

#section-home-direct {
    /* background: #3ab8bf; */
    padding: 20px 0;
}

#section-home-direct .fbox-home {
    border: 2px solid #3ab8bf;
    background: none;
}

#section-home-direct .fbox-home p {
    font-size: 20px;
    line-height: 25px;
    color: #555;
}

#section-home-direct .fbox-home.feature-box.fbox-bg {
    margin: 30px 0 0 0;
    padding: 0 30px 35px;
}

#section-home-direct .fbox-home .fbox-icon {
    width: 80%;
    height: auto;
    position: relative;
    left: 0;
    top: -30px;
    margin: 0 auto;
}

#section-home-direct .fbox-home .fbox-icon i {
    font-size: 34px;
    font-weight: 600;
    border-radius: 5px;
    padding: 10px 35px;
    line-height: 100%;
    background: #3ab8bf;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
}

#section-home-direct .fbox-home.fbox-effect .fbox-icon i:after {
    border-radius: 0;
    box-shadow: 0 0 0 2px #3ab8bf;
    border: 2px solid #f4f5f9;
    padding: 0;
}

#section-home-direct .fbox-home.feature-box.fbox-bg ul {
    list-style: none;
    padding: 0;
    margin: 30px 0 10px;
}

#section-home-direct .fbox-home.feature-box.fbox-bg ul li {
    display: list-item;
    padding: 5px 0 5px 50px;
    font-size: 22px;
    text-align: left;
}

#section-home-direct .fbox-home.feature-box.fbox-bg .i-plain {
    float: none;
    display: inline-block;
}

#section-home-direct .fbox-home.feature-box.fbox-bg .counter.counter-large {
    display: inline-block;
}

#section-home-direct .fbox-home.feature-box.fbox-bg ul li span.inside {
    color: #3ab8bf;
    font-size: 28px;
}

.title-counter {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0px;
    font-size: 15px;
    font-weight: 300;
}

.note-editor.note-frame .note-editing-area .note-editable {
    min-height: 150px;
}

.plans-box {
    display: block;
}

.plans-box ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.plans-box div.panel {
    margin: 5px;
    list-style: none;
    text-align: center;
}

.plans-box div.panel:hover {
    border-color: #3ab8bf;
    box-shadow: 0 0 5px #00000026;
}

.plans-box div.panel h2 {
    font-size: 17px;
}

.plans-box div.panel .price {
    display: block;
}

.plans-box div.panel .price p {
    font-size: 24px;
    line-height: 21px !important;
    font-family: 'Roboto';
    font-weight: 900;
    color: #3ab8bf;
    margin: 0;
}

.plans-box div.panel .price p small {
    font-family: 'Open sans', sans-serif;
    font-weight: normal;
    font-size: 15px;
    letter-spacing: -0.4px;
    margin: 0 0 3px 0;
    color: #686868;
}

.plans-box div.panel .price .form-control {
    margin: 13px 0 5px !important;
    display: inline-block;
    width: 110px;
    height: auto;
    padding: 7px;
    border: 2px solid #3ab8bf;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
}

.plans-box div.panel .info {
    display: block;
    min-height: 80px;
    border-top: 1px solid #ddd;
    margin: 10px 10px 0;
    padding: 20px 0 0;
    text-align: left;
}

.plans-box div.panel .info p {
    font-size: 14px;
    line-height: 1.7;
    margin-bottom: 20px;
}

.radio.radio_payment_method label {
    text-transform: none;
    letter-spacing: normal;
}

.radio.radio_payment_method label input {
    opacity: 0;
}

.radio.radio_payment_method label div.panel.panel-default {
    position: relative;
}

.radio.radio_payment_method label input:checked~div div.panel.panel-default {
    border: 3px solid #3ab8bf;
    box-shadow: 0 0 15px #7a7a7d45;
}


/* 
.radio.radio_payment_method label div div.panel.panel-default {
    min-height: 300px;
}

.radio.radio_payment_method label div div.panel.panel-default.renew {
    min-height: 200px;
} */

.radio.radio_payment_method label {
    width: 100%;
}

.radio.radio_payment_method label input~div .iconChecked {
    display: none;
    width: 30px;
    height: 30px;
    line-height: 30px;
    background: #3ab8bf;
    color: #FFF;
    text-align: center;
    border-radius: 100%;
    position: absolute;
    top: -10px;
    left: -10px;
}

.radio.radio_payment_method label input:checked~div .iconChecked {
    display: block;
}

.radio.radio_payment_method label div div.panel.panel-default img {
    max-width: 120px;
    margin: 0 auto;
}

.radio.radio_payment_method label div div.panel.panel-default ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.radio.radio_payment_method label div div.panel.panel-default ul li {
    display: list-item;
    padding: 1px 0;
}

div.boxTerms {
    overflow-y: scroll;
    max-height: 350px;
    border: 1px solid #DDD;
    border-radius: 5px;
    padding: 10px 20px;
    position: relative;
}

div.boxTerms .button_closed {
    position: absolute;
    background: #DDD;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
}

.social-icon {
    float: none;
    display: inline-block;
}

.social-icon.si-small {
    font-size: 18px;
}

.i-xlarge.i-plain {
    float: none;
    display: inline-block;
}

.counter.counter-large {
    float: none;
    display: inline-block;
}

.fb-page.fb_iframe_widget {
    right: -20px;
}